/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #ff004c;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {

  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/*modal*/

.modal-dialog {
  max-width: 400px;
}

.modal-content {
  background-color: #d8d9ff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.modal-header {
  background-color: #d6dbdf;
  color: #fff;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin: 15px;
}

#Email,
#Contraseña {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
}

#BotonLogin {
  background-color: #1cb35c;
  color: #fff;
  padding: 5px 24px;
}

#BotonLogin:hover {
  background-color: #27ae60;
}


.filtro-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.filtro-label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.filtro-select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}