@{
    ViewData["Title"] = "CasaFiltros";
}

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Pileta
  </label>
</div>



<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
   Parrilla  
</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Balcón
  </label>
</div>

<p>Cantidad de ambientes</p>
<select class="form-select" aria-label="Default select example">
  <option selected>Todas</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>


@foreach (Casa casa in ViewBag.Favoritos)
{
      <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <img src = "@ViewBag.FotoCasa" />
    <h5 class="card-title">@ViewBag.NombreCasa</h5>
    <p>@ViewBag.Precio</p>
    <p>@ViewBag.Direccion</p>
    </div>
    </div>
}
  
