@{
    ViewData["Title"] = "Editarperfil";
}

<h1>Editar Perfil</h1>
  <form action="ActualizarPerfil" method="post">

        <label for="Nombre">Nombre:</label>
        <input type="text" id="Nombre" name="Nombre" ><br>

        <label for="Apellido">Apellido:</label>
        <input type="text" id="Apellido" name="Apellido" ><br>

        <label for="Contrasena">Contraseña:</label>
        <input type="password" id="Contrasena" name="Contrasena" ><br>

        <label for="Telefono">Teléfono:</label>
        <input type="tel" id="Telefono" name="Telefono" ><br>

        <label for="FotoPerfil">Foto de Perfil (URL):</label>
        <input type="text" id="FotoPerfil" name="FotoPerfil"  ><br>

        <input type="submit" value="Actualizar Perfil">
    </form>
