@{
    ViewData["Title"] = "EditarPerfil";
}
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre de Usuario</label>
    <input type="nombre" class="form-control" id="nombre" >
    <div id="emailHelp" class="form-text"></div>
  </div>
      <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nuevo Email</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Nueva contraseña</label>
    <input type="contraseña" class="form-control" id="contraseña">
  </div>

<a class="btn btn-EditarPerfil" href='@Url.Action("ActualizarPerfil", "Home")'>Actualizar perfil</a>
</form>