@{
    ViewData["Title"] = "IniciarSesion";
}
<h2>Bienvenido a House2Stay</h2>

<h4>Email: </h4>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" >
</div>
<h4>Contraseña: </h4>
<label for="inputPassword5" class="form-label">Contraseña</label>
<input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
