@{
    ViewData["Title"] = "Registro";
}


        <div class="container">
            <h2>Registrese aqui</h2>
            <form action="RegistroCompleto" method="post">
                <input type="text" name="username" placeholder="Username" required>
                <input type="text" name="apellido" placeholder="Apellido" required>
                <input type="tel" name="tel" placeholder="+11" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value="Registrese">
            </form>
            <div class="tieneaccount">
                <p>Tienes cuenta? <a asp-area="" asp-controller="Home" asp-action="Index">Inicie sesion</a></p>
            </div>
        </div>
