@{
    ViewData["Title"] = "Registro";
}
<h1>@ViewBag.Error</h1>
<h2>Registro</h2>

<form action="RegistroCompleto" method="post">
  <input type="text" name="Nombre" placeholder="Nombre">
  <input type="text" name="Apellido" placeholder="Apellido">
  <input type="email" name="Email" placeholder="Email">
  <input type="password" name="Contrasena" placeholder="Contraseña">
  <input type="submit" value="Registrar">
</form>
