/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-5y3t2bk56r] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-5y3t2bk56r] {
  color: #0077cc;
}

.btn-primary[b-5y3t2bk56r] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.buscar[b-5y3t2bk56r]{
  background-color: #1cb35c;
  padding: 7px;
  border-radius:7px ;
  border: none;
  color:white;
  margin-top: 10px;
}




.border-top[b-5y3t2bk56r] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-5y3t2bk56r] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-5y3t2bk56r] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.fotito[b-5y3t2bk56r]
{
  width: 50%;
  
}

button.accept-policy[b-5y3t2bk56r] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-5y3t2bk56r] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.navAA[b-5y3t2bk56r]{
  display: flex;
}



