/* _content/Tp11ProyectoIntegral/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-5y3t2bk56r] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-5y3t2bk56r] {
  color: #ff004c;
}

.btn-primary[b-5y3t2bk56r] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-5y3t2bk56r], .nav-pills .show > .nav-link[b-5y3t2bk56r] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-5y3t2bk56r] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-5y3t2bk56r] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-5y3t2bk56r] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-5y3t2bk56r] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-5y3t2bk56r] {

  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/*modal*/

.modal-dialog[b-5y3t2bk56r] {
  max-width: 400px;
}

.modal-content[b-5y3t2bk56r] {
  background-color: #d8d9ff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.modal-header[b-5y3t2bk56r] {
  background-color: #d6dbdf;
  color: #fff;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form-group[b-5y3t2bk56r] {
  margin: 15px;
}

#Email[b-5y3t2bk56r],
#Contraseña[b-5y3t2bk56r] {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input[b-5y3t2bk56r] {
  width: 100%;
  padding: 8px;
}

#BotonLogin[b-5y3t2bk56r] {
  background-color: #1cb35c;
  color: #fff;
  padding: 5px 24px;
}

#BotonLogin:hover[b-5y3t2bk56r] {
  background-color: #27ae60;
}


.filtro-title[b-5y3t2bk56r] {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.filtro-label[b-5y3t2bk56r] {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.filtro-select[b-5y3t2bk56r] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}
